body {
	padding-top: 10px;
	padding-bottom: 20px;
}


/* Home Page */

.background {
	background: url('../img/bkgrnd.png') top;
	background-size: 100%;
	margin-top: -20px;
	padding: 20px;
}

.background p {
	padding: 20px;
}


/* Menu Page */

.menu {
	margin: auto;
	padding: 10px;
}


/* Contact Page */

.contact {
	margin-top: 10px;
	margin-bottom: -70px;
}


/* Footer */

.footer table {
	width: 100%;
	text-align: center;
	padding: 10px;
}

