body {
	padding-top: 10px;
	padding-bottom: 20px;
}


/* Home Page */

.carousel .carousel-inner .item {
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#myCarousel {
	background-image: url('../img/brisket.jpg');
}


.carousel-indicators {
	margin: auto;
}


.carousel-indicators li {
	background-color: red;
}


.space {
	padding-bottom: 10px;
}


.background {
	background: url('../img/bkgrnd.png') no-repeat top;
	background-size: 100%;
	margin-top: -20px;
	margin-bottom: -10px;
	padding: 10px;
}

.background p {
	padding: 20px;
}


/* Menu Page */

.menu {
	margin: auto;
	padding: 10px;
}


/* Contact Page */

.contact {
	margin-top: 10px;
	margin-bottom: -70px;
}


/* Footer */

.footer table {
	width: 100%;
	text-align: center;
	padding: 10px;
}

