@font-face {
			font-family: 'Oswald', sans-serif;
			font-style: normal;
			font-weight: 400;
			src: url("https://fonts.googleapis.com/css?family=Oswald");
		}

.header table {
	width: 20%;
}

a:link {

}

a:visited {
	color: green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}
	
h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.img {
	background-color: CornSilk;
	width: 100%;
	height: 460px;
}

.img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 35%;
}

caption {
	font-size: xx-large;
	padding: 5px;
}

th.beverage {
	background-color: gold;
	border: 1px dotted;
}
	
tbody th {
	padding: 5px;
	font-size: large;
	background-color: red;
	border: 1px groove;
	border-collapse: collapse:
}


.footer table {
	width: 100%;
	text-align: center;
}

