img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.album_info {
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;	
}

.table2 th {
	border: 1px solid;
	background-color: lightgrey;
}

.table2 td {
	border: 1px solid;
	text-align: center;
}


