@font-face {
			font-family: 'Oswald', sans-serif;
			font-style: normal;
			font-weight: 400;
			src: url("https://fonts.googleapis.com/css?family=Oswald");
		}

.header table {
	width: 20%;
}
	
h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.img {
	background-color: CornSilk;
	width: 100%;
	height: 460px;
}

.img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 35%;
}

th {
	font-size: x-large;
}

.footer table {
	width: 100%;
	text-align: center;
}

