.font {
	font-family: 'Oswald', sans-serif;
}

.img {
	background: url("TVOTR.jpg") no-repeat center;
	background-size: 100%;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.album_info {
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;	
}

ul {
	font-style: italic;
}

.table2 th {
	border: 1px solid;
	background-color: lightgrey;
}

.table2 td {
	border: 1px solid;
	text-align: center;
}


